.heading{
    width: 40%;
    font-size: 22px;
}
.name_of_object, #Object_Name, #Object_Accuracy{
    color: black;
}
#camera{
    border: 2px dashed #F56C00;
    width: 350px;
    height: 300px;
}

body{
    background: url(https://wallpaperaccess.com/full/1356360.jpg);
    color: #000000;
    height: 100%;
  }
  .heading{
    background-color: orangered;
    border-radius: 40px;
    width: 40%;
    text-align: center;
    height: 50px;
    color: #000000;
  }
  hr{
    width: 500px;
  }
  #click{
    background-color: orangered;
    border-radius: 40px;
    width: 20%;
    text-align: center;
    height: 50px;
    font-size: 30px;
  }